.container.footer-cont
	h1 footer cont
	.row.lg-table-mode
		.box.md-50.lg-25
			p.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quia ullam optio inventore doloremque odio vel, soluta quae necessitatibus quaerat beatae, aut mollitia veritatis deserunt. Fuga laborum soluta distinctio incidunt.
		.box.md-50.lg-25
			p.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quia ullam optio inventore doloremque odio vel, soluta quae necessitatibus quaerat beatae, aut mollitia veritatis deserunt. Fuga laborum soluta distinctio incidunt.
		.box.md-50.lg-25
			p.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quia ullam optio inventore doloremque odio vel, soluta quae necessitatibus quaerat beatae, aut mollitia veritatis deserunt. Fuga laborum soluta distinctio incidunt.
		.box.md-50.lg-25
			p.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quia ullam optio inventore doloremque odio vel, soluta quae necessitatibus quaerat beatae, aut mollitia veritatis deserunt. Fuga laborum soluta distinctio incidunt.
	.row
		.box
			p.
				&#169; 2015 - 2016 MyBCasino Privacy Policy Terms and Conditions Rules and Regulations