// --------------------------------------------------------------------------------------------------------------
@mixin ed-boton(
    $font-size: 1em, 						// Tamaño de fuente
    $color: initial,  						// Color del texto
    $background: #eee, 						// Color de fondo
    $hover: #ddd,  							// Fondo para el botón en hover
	  $line-height: 2.5em, 					// Altura del botón
    $border-radius: 0,  					// Border radius
    $border: 1px solid rgba(#000,.2),  		// Estilo del borde
    $padding: 1em  							// Padding izquierdo y derecho
	){
	color         : $color;
	display       : inline-block;
	line-height   : $line-height;
	background    : $background;
	padding       : 0 $padding;
	border        : $border;
	border-radius : $border-radius;
	font-size     : $font-size;
	cursor        : pointer;
	margin        : 0;
    &:hover{
		background : $hover;
		text-decoration: none !important;
	}
}

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 25%);
  }
  &:hover {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($background, 17%);
          border-color: darken($border, 25%);
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
          border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}
